*{
    box-sizing: border-box;
}
body{
    /* background-color: rgb(141, 140, 138); */
    /* overflow-y: hidden; */
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.chat-box {
    width: 400px;
    height: 40px;
    top: 30%;
    right: 40%;
    position: absolute;
}
.tweet-btn {
    position: absolute;
    top: 40%;
    right: 36%;
    border-radius: 50%;    
}