*{
    box-sizing: border-box;
}
body{
    /* background-color: rgb(141, 140, 138); */
    /* overflow-y: hidden; */
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    /* position: relative; */
    width: 100vw;
    height: 100vh;
}
.container {
    width: 40%;
    height: 50%;
    position: relative;
    top: 20%;
    right: 28%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;

}
.form-floating {
    width: 30%;
    height: 40%;
    top: 40%;
    right: 42%;
    position: absolute;

}
.form-control::-webkit-scrollbar{
    display: none;
}
textarea{
    resize: none;
    /* width: 600px;
    height: 400px; */
}
.tweet-btn {
    position: absolute;
    top: 50%;
    right: 42%;
    width: 5%;
    height: 4%;
    border-radius: 20px;   
    color: white;
    background-color: #001a33;
}
input {
    top: 30%;
    right: 52%;
    height: 5%;
    width: 20%;
    position: absolute;
    border-radius: 4px;
    border-width: 0.02em;
    border-color: #ebebe0 ;
}
/* .name::after{
    content: attr(aria-label);
}
.form-floating::after{
    content: attr(aria-label);
} */
