* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.form-floating {
  width: 400px;
  height: 200px;
  margin-top: 20px;
  margin-left: 130px;
  outline: None;
  display: flex;
}

.shadow {
  width: 800px;
  height: 400px;
  padding: 40px;
  margin-top: 150px;
  margin-left: 460px;
  margin-bottom: 260px;
  border-radius: 8px;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.tweet-btn {
  width: 4rem;
  height: 2rem;
  border-radius: 20px;
  border: None;
  color: lavender;
  margin-left: 470px;
  margin-top: 20px;
  display: flex;
  background-color: tomato;
}

input {
  margin-left: 130px;
  margin-top: 10px;
  width: 280px;
  display: flex;
  border-radius: 4px;
  border-width: 0.02em;
  border-color: #ebebe0;
  outline: None;
}
